@use 'sass:math';
$myID: 'Fs_goods';

/* グローバルスタイルや変数、ミックスインをここに追加 */
$primary-color: #42b983;

/*---padding---*/
$pdng: min(40/768 * 100vw, 40px);
$pdng-v: 140px;

%fullWidth {
  margin-left: calc($pdng * -1);
  margin-right: calc($pdng * -1);
}

/*---width---*/
$w-sp: 375px;
$w-pc: $w-sp * 3;

/*---responsive---*/
$bp: $w-pc;

@mixin spView($breakpoint: $bp) {
  @media (max-width: ($breakpoint)) {
    @content;
  }
}

@mixin pcView($breakpoint: $bp) {
  @media (min-width: ($breakpoint)) {
    @content;
  }
}

/*---function---*/

/* px → vw変換 */

/* pxからvwに変換 */
@function px_vw($val, $width: $w-pc) {
  $vw: math.div(strip-unit($val), strip-unit($width)) * 100;

  @if $vw>0 {
    @return min(unquote($vw + vw), $val);
  }

  @else {
    @return max(unquote($vw + vw), $val);
  }
}

/* 数値から単位を取り除く */
@function strip-unit($number) {
  @if type-of($number)=='number'and not unitless($number) {
    @return math.div($number, ($number * 0 + 1));
  }

  @return $number;
}

/*---font---*/

$ff-base: 'Noto Serif JP',
serif;

$fz-ttl: px_vw(46px);
$fz-base: px_vw(30px);
$fz-caption: clamp(12px, 3.2vw, 14px);
$fz-price: 24px;

/*---color---*/

$c-main : #fff;
$c-bg : #faf3ed;

/*---ベースの設計---*/

@mixin base {
  color: $c-main;
  font-family: $ff-base;
  font-size: $fz-base;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: 0;
  box-sizing: border-box;
  position: relative;
  overflow-x: hidden;
}
